header h1 {
    text-align: center;
}
header img {
    max-width: 300px;
    margin: auto;
    display: block;
}
.container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.questionTracking {
    display: inline-block;
    padding: 15px;
}
.answerOption {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}
.hidden {
    display: none !important;
}

#answer {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
}