* {
    box-sizing: border-box;
    font-family: "Roboto";
}
html, body {
    height: 100%;
}
header h1 {
    text-align: center;
}
header img {
    max-width: 300px;
    margin: auto;
    display: block;
}
h3 {
    font-size: 30px;
    padding: 5px;
    margin: 5px;
}
p {
    font-size: 28px;
    padding: 5px;
    margin: 5px;
}
.container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.questionTracking {
    display: inline-block;
    padding: 10px 0;
}
fieldset {
    padding: 0 10px;
    border: none;
}
#quizSection {
    position: relative;
    z-index: 1;
}
.answerOption {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #000;
    margin-top: 10px;
    font-size: 24px;
    background-color: #000;
    color: #fff;
    font-weight: bold;

}
.answerOption:focus, .answerOption:hover {
    background-color: #fff;
    color: #000;
}
.answerOption input:focus {
    outline: none;
}
.hidden {
    display: none !important;
}
.buttonSubmit {
    padding: 0 10px;
    margin-bottom: 30px;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #90EE90;
}
input[type="radio"]:checked {
    background-color: #90EE90;
    transition: all .5s;
}
#answer, #finished {
    position: fixed;
    z-index: 5;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 45, 0, .9);
    color: #fff;
    width: 100%;
    height: 100%;
}

button[type="submit"] {
    max-width: 400px;
    width: 100%;
    padding: 10px 20px;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #000;
    background-color: #000;
    transition: all .5s;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}
#nextQuestion button[type="submit"], #finished button[type="submit"] {
    border-color: #fff;
}
